<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org" 
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/img/celular-center-icon.png}" />
        <b class="text-logo">Celular</b> Center
      </a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

        <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item livro-color">
            <a class="nav-link" th:href="@{/produtos}">Celulares</a>
          </li>
          <li class="nav-item autor-color">
            <a class="nav-link" th:href="@{/sobre}">Sobre</a>
          </li>
          <li class="nav-item editora-color">
            <a class="nav-link" th:href="@{/contato}">Contato</a>
          </li>
        </ul>

        <div sec:authorize="isAuthenticated()">
          <div class="icontext text-white">
            <div class="icon-wrap">
              <i class="icon-sm round border border-white text-white fa fa-user"></i>
            </div>
            <div class="text-wrap dropdown">
              <a href="#" class="text-white" data-toggle="dropdown" data-offset="20,10" aria-expanded="false">
                [[${#authentication.getPrincipal().getNome()}]]
                <i class="fa fa-caret-down"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" style="position: absolute; top: 35px; left: -35px;" x-placement="bottom-end">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                  <a class="dropdown-item" th:href="@{/admin}">
                    <i class="fa fa-user-tie"></i> Painel Admin
                  </a>
                  <div class="dropdown-divider"></div>
                </div>
                <div sec:authorize="hasRole('ROLE_USER')">
                  <a class="dropdown-item" th:href="@{/user/compras}">
                    <i class="fa fa-shopping-bag"></i> Compras</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" th:href="@{/user/perfil}">
                    <i class="fa fa-user-edit"></i> Meu Perfil
                  </a>
                  <div class="dropdown-divider"></div>
                </div>
                <a class="dropdown-item" th:href="@{/logout}">
                  <i class="fa fa-sign-out-alt"></i> Sair</a>
              </div>
            </div>
          </div>
        </div>

        <div sec:authorize="isAnonymous()">
          <span class="text-white mr-3">
            <a class="btn btn-outline-info text-white" th:href="@{/login}">
              <i class="fa fa-sign-in-alt"></i> Entre</a> ou
            <a class="btn btn-outline-info text-white" th:href="@{/cadastro}">
              <i class="fa fa-user-edit"></i> Cadastre-se</a>
          </span>
        </div>

        <a th:href="@{/carrinho}" class="widget-header border-left pl-3 ml-3 text-white">
          <div class="icontext">
            <div class="icon-wrap icon-sm round border">
              <i class="fa fa-shopping-cart"></i>
            </div>
          </div>
          <span class="badge badge-pill badge-danger notify" id="total-itens-carrinho">[[${carrinho.getQuantidade()}]]</span>
        </a>
      </div>
    </div>
  </nav>
</header>

</html>