<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{admin/layout}">
<head>
    <title>Compras</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-md-3">
                <section th:replace="~{/admin/fragments/mainsidebar :: mainsidebar}"></section>
            </div>
            <div class="col-md-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/admin}">Painel</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Lista de Produtos</li>
                    </ol>
                </nav>
                <div class="table-responsive  bw-tabela-simples">
                    <table class="table  table-hover">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Quantidade de Produtos</th>
                                <th>Valor Total</th>
                                <th>Usuário</th>
                                <th>Data e Hora</th>
                                <th class="table-col-acoes"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="compra : ${compras}">
                                <td th:text="${compra.id}"></td>
                                <td th:text="${compra.quantidadeProdutos}"></td>
                                <td>R$ [[${#numbers.formatDecimal(compra.total, 0, 'POINT', 2, 'COMMA')}]]</td>
                                <td>[[${compra.usuario.nome}]]</td>
                                <td>[[${#temporals.format(compra.created, 'dd/MM/yyyy - HH:mm')}]]</td>

                                <td class="text-center">
                                    <a class="btn  btn-outline-info btn-sm" th:href="@{/admin/compras/{codigo}(codigo=${compra.id})}">
                                        <i class="fa fa-eye"></i> Ver detalhes
                                    </a>
                                </td>
                            </tr>
                            <tr th:if="${#lists.isEmpty(compras)}">
                                <td colspan="6">Nenhum compra realizada!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>