<!DOCTYPE html>
<html lang="pt" 
    xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="bg-dark text-light mt-4">
    <div class="container">
        <div class="row justify-content-md-between">
            <div class="row justify-content-between">
                <div class="col-12 copyright mt-3">
                    <p class="text-right text-muted">criado por <i class="fa fa-user"></i> <a href="#"><i>Daniel Lima</i></a> | <span>v. 1.0</span></p>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>