<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/img/celular-center-icon.png}" />
        <b class="text-logo">Celular</b> Center
      </a>

      <div sec:authorize="isAuthenticated()" class="float-right">
        <div class="icontext text-white">
          <div class="icon-wrap">
            <i class="icon-sm round border border-white text-white fa fa-user"></i>
          </div>
          <div class="text-wrap dropdown">
            <a href="#" class="text-white" data-toggle="dropdown" data-offset="20,10" aria-expanded="false">
              [[${#authentication.getPrincipal().getNome()}]]
              <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" style="position: absolute; top: 35px; left: -35px;" x-placement="bottom-end">
              <a class="dropdown-item" th:href="@{/logout}">
                <i class="fa fa-sign-out-alt"></i> Sair
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
</html>